@import 'colors';

.column {
  float: left;
  width: 50%;
}

.header {
}

.footer {
  border-top: solid 1px $primary-light-grey;
  text-align: right;
  span {
    color: $primary-light-grey;
    font-size: 0.6em;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.width-25 {
  width: 25%;
}

.width-75 {
  width: 75%;
}

.border-right {
  border-right: solid 1px $primary-light-grey;
  margin-right: 10px;
}